.container {
  display: flex;
  justify-content: center;
  background-color: #d1d0cd;
}

button {
  background-color: #3f3f3d;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  width: 250px;
  font-weight: bold;
}
